<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                A sample project
            </a>

            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/vuesample">Vue Sample</a></li>
                <li><a href="/users/add">Add user</a></li>
                <li><a href="/users/all">View users</a></li>
                <li><a href="/users/all">Company</a></li> <!-- new menu added -->
            </ul>
        </div>
    </div>
</nav>