<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main id="app">
        <div>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control"  value="<%=user.username%>">
                    <input type="hidden" value="<%=user.id%>">
                </div>
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input class="form-control" value="<%=user.firstname%>">
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input class="form-control" value="<%=user.lastname%>">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" value="<%=user.email%>">
                </div>

                <div>
                    <button v-on:click="submitForm" class="btn btn-info">Update</button>
                    <!-- <button v-on:click="clear" class="btn btn-warning">Reset</button> -->
                </div>
            </form>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

<script>
    console.log(user);
    var app = new Vue({
        el: '#app',
        methods: {
            submitForm: function (e) {
                let me = this;
                e.preventDefault();
                $.post('/users/edit', this.user)
                    .done(function (response) {
                        me.response = response;
                    })
                    .fail(function (error, res, msg) {
                        console.log(error, res, msg);
                        me.response = error.responseJSON;
                    });
            }
        }
    });
</script>

</html>