<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome <%= welcomeMsg.title %></h1>
            <p>Welcome to templating using EJS</p>
        </div>
        <ul>
        <% for (let i=0; i < list.length; i++ ){ %>
            <li><%=list[i].id%>, <%=list[i].text%></li>
        <% } %>
        </ul>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

   

</body>

</html>