<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main id="app">

    <div>
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" name="username" v-model="user.username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" name="password" type="password" v-model="user.password">
        </div>
        <div>
          <button class="btn btn-info" v-on:click="submitForm">Login</button>
          <button class="btn btn-warning" v-on:click="clear">Cancel</button>
        </div>
      </form>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      user: {
        username: '',
        password: ''
      }
    },
    methods: {
      submitForm: function (e) {
        let me = this;
        e.preventDefault();
        axios.post('/users/login', this.user)
          .then(function (response) {
            console.log('success');
            //location.href = '/sample/vue';
          })
          .catch(function (error) {
            console.log(error);
          })
      },
      clear: function () {
        this.user.username = '';
        this.user.password = '';
      }
    }
  });
</script>

</html>