<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main id="app">
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Username</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Email</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>    
                    <% for (let i=0; i < list.length; i++ ){ %>
                        <tr>
                            <td><%=list[i].id%></td>
                            <td><%=list[i].username%></td>
                            <td><%=list[i].firstname%></td>
                            <td><%=list[i].lastname%></td>
                            <td><%=list[i].email%></td>
                            <!-- <td> <button id="<%=list[i].id%>" v-on:click="deleteUser" class="btn btn-info">Submit</button></td> -->
                            <td>
                                <a href="<%=list[i].id%>" class="btn btn-primary">Edit</a>
                                <a href="delete/<%=list[i].id%>" onclick="return confirm('Are you sure to delete?')" class="btn btn-danger">Delete</a>
                            </td> 
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

<script>
    var app = new Vue({
        el: '#app',
        methods: {
            deleteUser: function (e) {
                //console.log(e.id)
                targetId = e.currentTarget.id;
                console.log(targetId); 
                  
                // let me = this;
                // e.preventDefault();
                // $.post('/users/add', this.user)
                //     .done(function (response) {
                //         me.response = response;
                //     })
                //     .fail(function (error, res, msg) {
                //         console.log(error, res, msg);
                //         me.response = error.responseJSON;
                //     });
            },
        }
    });
</script>

</html>