<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main id="app">
        <div>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" v-model="user.username">
                </div>
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input class="form-control" v-model="user.firstname">
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input class="form-control" v-model="user.lastname">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" v-model="user.email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control"pe="password" ty v-model="user.password">
                </div>
                <div>
                    <button v-on:click="submitForm" class="btn btn-info">Submit</button>
                    <button v-on:click="clear" class="btn btn-warning">Reset</button>
                </div>
            </form>
        </div>
        <div class="alert alert-info">
            {{response}}
        </div>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            user: {
                username: '',
                firstname: '',
                lastname: '',
                email: '',
                password: ''
            },
            response: 'Server response will be shown here'
        },
        methods: {
            submitForm: function (e) {
                let me = this;
                e.preventDefault();
                $.post('/users/add', this.user)
                    .done(function (response) {
                        me.response = response;
                    })
                    .fail(function (error, res, msg) {
                        console.log(error, res, msg);
                        me.response = error.responseJSON;
                    });
            },
            clear: function () {
                this.user.username = '';
                this.user.firstname = '';
                this.user.lastname = '';
                this.user.email = '';
            }
        }
    });
</script>

</html>