<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div id="app">
            <h3>
                Just a text
            </h3>
            <div>{{ message }}</div>
        </div>


        <div id="app-6">
            <h3>Two way binding example</h3>
            <p>{{ message }}</p>
            <input v-model="message">
        </div>

        <div id="app-7">
            <h3>A shopping list</h3>
            <ol>
                <!--
Now we provide each todo-item with the todo object
it's representing, so that its content can be dynamic.
We also need to provide each component with a "key",
which will be explained later.
-->
                <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
            </ol>
        </div>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            message: 'Welcome to Vue js!'
        }
    });
    let app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        }
    });

    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    });

    let app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [{
                    id: 0,
                    text: 'Vegetables'
                },
                {
                    id: 1,
                    text: 'Cheese'
                },
                {
                    id: 2,
                    text: 'Whatever else humans are supposed to eat'
                }
            ]
        }
    });
</script>

</html>